body {
    background-color: LightSteelBlue;
}

#h1_2 {
  text-align: left;
  color: SteelBlue;
  margin-left: 30px;
}

#main_h1 {
    padding: 30px;
    border: 1px solid SteelBlue;
}

#ul1 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: SteelBlue;
  position: -webkit-sticky; /* Safari */
  position: sticky;
}

#li1, #li2, #li3, #li4, #li5 {
  float: left;
}

#aid1, #aid2, #aid3, #aid4, #aid5 {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#aid1:hover {
  background-color: #111;
}
#aid2:hover {
  background-color: #111;
}
#aid3:hover {
  background-color: #111;
}

#aid4:hover {
  background-color: #111;
}
#aid5:hover {
  background-color: #111;
}

p {
line-height: 2.0
}